/* reset */

*{
    
    border: 1px solid black;
}

/* general */

a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
    display: block;
}
#avatar{
    max-width: 100%;
}
