
/* general */

a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
    display: block;
}
#avatar{
    max-width: 100%;
}
/* #box-img{
    width: 50%;
} */
#mex{
    min-height: 100px;
}
footer > * {
    font-size: 10px;
}
footer{
    margin-top: 30px;
}