
/* general */

a{
    text-decoration: none;
    background-color: #2C3E50;
    color: white;
    padding: 0;
}
li{
    list-style: none;
}
img{
    width: 100%;
    display: block;
}
#avatar{
    max-width: 100%;
}
/* #box-img{
    width: 50%;
} */
#mex{
    min-height: 100px;
}
footer > * {
    font-size: 10px;
}
footer{
    margin-top: 30px;
}
.green{
    background-color: #1ABC9C;
    color: white;
}
header,
footer{
    background-color: #2C3E50;
    color: white;
}

#bottom-footer{
    background-color: black;
    color: white;
}
